html,
body {
  padding: 0;
  margin: 0;
  min-width: 100em;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


@font-face {
  font-family: 'Montserrat Regular';
  src: url('/fonts/Montserrat-VariableFont_wght.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('/fonts/Montserrat-VariableFont_wght.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat Light';
  src: url('/fonts/Montserrat-VariableFont_wght.ttf');
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #2C1C4B;
}

::-webkit-scrollbar-thumb {
  background: #7A3ADF;
}
