.container {
    width: 80em;
	height: auto;
	margin-top: 0;
    display: flex;
    flex-direction: row;
    column-count: 4;
    column-gap: 1em;
    align-items: center;
    justify-content: center;
    position: relative;
}

.img {
    width: 25%;
    border-radius: 8px;
    position: relative;
    z-index: 1;
}
