.partnership {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 1em;
}

.partner_img {
    width: 4em;
    height: auto;
}

.partner_img_lg {
    width: 20em;
    height: auto;
}

.partner_name {
    font-family: 'Montserrat Bold';
    color:#F0E9FB;
    margin: 0;
}