.container {
    width: 50em;
    height: 20em;
    display: inline-flex;
    background-color: #F0E9FB;
    border-radius: 1em;
    padding: 1em;
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.img {
    margin-left: 5%;
    margin-top: 4%;
    width: 22%;
    height: auto;
}

.content {
    margin-left: 5%;
    width: 60%;
    max-height: auto;
}

.title {
     font-family: 'Montserrat', sans-serif;


    font-weight: 400;


    font-size: 2em;
    color: #180831;
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;


    font-size: 1em;
    line-height: 1.4em;
    color: #180831;
}

.download {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;


    font-size: 1em;
    color: #180831;
    border-bottom: 0.15em solid #180831;
}