.blog_container {
	width: 80%;
	margin: auto;
	max-width: 1300px;
    flex-direction: column;
    display: flex;
}

.featured_title {
	align-self: center;
    text-align: center;
    margin-bottom: 50px;
}
.featured_grid {
    display:flex;
}
.blog_grid {
    display: grid;
	gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 120px

}
.blog_container .container_dark.featured {
    max-width: 1000px;
    height: 325px;
    margin: auto;
    margin-bottom: 75px;    
}

/* Non-fullscreened desktop */
@media only screen and (max-width: 1200px) {   
	.blog_grid {
		grid-template-columns: 1fr 1fr;
	}
}


/* Small Screens */
@media only screen and (max-width: 768px) {
    .blog_container {
        width: 90%;
    }

    .blog_container .container_dark.featured {
        height: auto;
        margin-bottom: 20px;    
    }

	.blog_grid {
		grid-template-columns: 1fr;
	}

    .featured_grid {
    display:grid;
    grid-template-columns: 1fr;
}
}