.footer {
    width: 100%;
    height: auto;
    position: relative;
    background-color:#2C1C4B;
    display: flex;
    column-gap: 3em;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    bottom: 0;
}

.left_div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 4.5em;

}
.text {
    color: #F0E9FB;
    margin-left: 1em;
}

.uwaterloo {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    margin-bottom: 0;
}

.c {
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    position: relative;
    margin-left: 7px;

    /* Bottom align copyright notice */
    top: 6px
}

.line {
    display: inline-flex;
    position: relative;
}

.blockchain {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 0;
    font-size: 2.5em;
}

.socials {
    width: auto;
    display: inline-flex;
    gap: 20px;
}

.socials_button {
    width: 4em;
    height: 4em;
    background-color: #E27876;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.icons {
    color: #F0E9FB;
}

.icons:hover {
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    /* Add extra space for the sticky bottom navbar (only appears on small screens)
    See Header.css for more context. */
    .footer {
        margin-bottom: 52px;
        flex-direction: column;
    }
}