.header_flex {
    display: flex;
    margin: 30px auto;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 850px;
    margin-bottom: 100px;
}

.flex_text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.flex_row, flex_row_icon {
    background-image: linear-gradient(#ffffff, #ffffff);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: 0.4s ease-in-out;
    text-decoration: none;
}


.flex_row:hover {
    cursor: pointer;
    background-size: 100% 0.1em;
}

.flex_text:active {
    text-decoration: none;
}



.flex_row_icon:hover {
    cursor: pointer;
}

.active {
    text-decoration: none;
    background-image: linear-gradient(#ffffff, #ffffff);
    background-size: 100% 0.1em;
    background-position-y: 80%;
    background-position-x: 0%;
    background-repeat: no-repeat;
}

.user {
    color: white;
    font-size: 2em;
}

.user:hover {
    cursor: pointer; 
}


