

.hero {
	width: 100%;
	display: flex;
	flex-direction: row;
	margin: auto;
	height: 650px;
	margin-bottom: 100px;
}

.home {
	width: 80%;
	margin: auto;
	max-width: 1300px;
}

.intro {
	width: 100%;
	color: #F0E9FB;
	text-shadow: 0px 2.92736px 5.85472px rgba(0, 0, 0, 0.25);
}

.blockchain_title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;	
    font-size: 3em;
	letter-spacing: 0.1em;
	margin-top: 10px;
	margin-bottom: 10px;
}

.uwaterloo_title {
	font-size: 6em;

}


.button {
	background: #E27876;
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.1);
	border-radius: 12px;
	margin: 10px 0px;
	width: 350px;
	display: inline;
	padding: 20px 0px;
	text-decoration: none;
	text-align:center
}

.button > p {
    color: #F0E9FB;
	text-decoration: none;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;	
    font-size: 1.4em;
	text-decoration: none;
	vertical-align: middle;
	margin: auto;
}

.button > * {
	display: inline;
	text-shadow: none;
}

.hero-buttons {
	display: flex;
	flex-direction: column;
}

.discord_icon {
	margin-left: 0.25em;
	margin-bottom: 1em;
	color: #F0E9FB;
}

.button:hover {
	cursor: pointer;
}

.button:hover  {
	transform: scale(1.05);
	transition-duration: 0.3s;
}

.read_article {
	width: 160px;
	height: 130px;
	position: absolute;
	top: 250px;
	left: -160px;
	z-index: 1;
}	

.main_post{
	display: flex;
	flex-direction: row;
	position: relative;
	/* Offset main post down a bit */
	align-self: flex-end;
}

.about_title, .about_content {
	color: #F0E9FB;
	line-height: 1.7em;
}

.about_content {
	font-size: 1em;
}

.about_container {
	width: 80%;
	margin-bottom: 50px;
}

.blog_title {
	color: #F0E9FB;
	line-height: 1.7em;
}

.panel_section, .blogs {
	display: flex;
	flex-direction: row;
	width: 100%;
	gap: 20px;
	overflow-x: auto;

}

.panel_section, .blog_container  {
	margin-bottom: 120px;
}





/* Small Screens */
@media only screen and (max-width: 768px) {
   .read_article {
	/* Move "read our most recent article" blob from left to top */
	content: url("../images/read_article_small.png");
	height: 75px;
	width: auto;
	top: 0px;
	left: 0px;
	margin-bottom: 5px;
	position: relative;
   }

   .main_post{
	/* Move "read our most recent article" blob from left to top */
		flex-direction: column;
		align-items: center;
	}
	
	.blockchain_title {
		font-size: 2em;
		align-self: center;
	}

	.uwaterloo_title {
		font-size: 4em;
		align-self: center;
	}

	.button {
		width: 100%;
	}

	.about_container {
		width: 100%;
	}

	.panel_section, .blogs {
		flex-direction: column;
		overflow: auto;
	}
	
	.home {
		width: 90%;
	}
}

/* Phones */
@media only screen and (max-width: 480px) {
	.blockchain_title {
		font-size: 1.5em;
		align-self: center;
	}

	.uwaterloo_title {
		font-size: 3em;
		align-self: center;
	}

	.read_article  {
		height: 55px;
	}
}

/* Non-fullscreened desktop */
@media only screen and (max-width: 1200px) {
	/* Prevent overflow from side-by-side title and main post  */
   .hero {
	flex-direction: column;
		height: auto;
   }

   
	.intro {
		display: flex;
		flex-direction: column;
	}
}