.container {
    width: 100%;
}

.header {
    width: 100%;
}

.content {
    width: 100%;
}

.footer {
    width: 100%;
}

::-webkit-scrollbar {
    width: 5px;
}
  
  ::-webkit-scrollbar-track {
    background: #2C1C4B;
}
  
  ::-webkit-scrollbar-thumb {
    background: #7A3ADF;
}
  