.partnership {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 1em;
}

.partner_img {
    width: auto;
    height: 5em;
}

.partner_name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color:#F0E9FB;
    margin: 0;
    text-decoration: none;
}


.contact_container {
    width: 40em;
    height: auto;
    background-color: #30195d;
    border-radius: 1em;
    padding-top: 4em;
    padding-bottom: 4em;
    padding-left: 8em;
    padding-right: 8em;
    display:flex;
    flex-direction: column;
    row-gap: 2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color:#D3BDF4;
    font-size: 2.5em;
    margin-top: 5em;
}

.contacts {
    display: flex;
    flex-direction: row;
    column-gap: 1em;
    font-size: 1.2em;
    justify-content: left;
    align-items: center;
    margin: 0;
    color:#D3BDF4;
    text-decoration: none;
}

.contacts > p {
    margin: 0;
}

.contacts > a:hover{
    text-decoration: underline;
}

.partnership_container {
    margin-top: 2em;
    width: 100em;
    height: auto;
    display: flex;
    flex-direction: row;
    column-gap: 5em;
    row-gap: 2.5em;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5em;
}

.partnership_title {
    margin-top: 2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color:#D3BDF4;
    font-size: 2.5em;
}

.sponser_container {
    margin-bottom: 5em;
}