.sponsor_container {
    display: inline-flex;
    max-width: 800px;
    background-color: #F0E9FB;
    border-radius: 1em;
    padding: 3em 1em;
    margin: auto;
    align-items: center;
    justify-content: center;
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.1);
    
}

.sponsor_img {
    position: relative;

    /* Correct for shadow in image making it not centered */
    top: 15px; 
    width: 100%;
    height: auto;
}

.sponsor_img_container {
    align-self: center;
    justify-content: center;
    margin-right: 20px;
}

.sponsor_content {
    width: 60%;
}

.sponsor_title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 2em;
    color: #180831;
    margin-top: 0;
}

.sponsor_text {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 1em;
    line-height: 1.4em;
    color: #180831;
}

.sponsor_download {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 1em;
    color: #180831;
    border-bottom: 0.15em solid #180831;
    text-decoration: none;
}